@font-face {
    font-family: "BebasNeueBook";
    src: url("../fonts/BebasNeueBook/BebasNeueBook.eot");
    src: local('☺'), url("../fonts/BebasNeueBook/BebasNeueBook.woff") format('woff'), url("../fonts/BebasNeueBook/BebasNeueBook.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CenturyGothic";
    src: url("../fonts/CenturyGothic/CenturyGothic.eot");
    src: local('☺'), url("../fonts/CenturyGothic/CenturyGothic.woff") format('woff'), url("../fonts/CenturyGothic/CenturyGothic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CenturyGothic-Bold";
    src: url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot");
    src: local('☺'), url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff") format('woff'), url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
