.main-slider.owl-carousel
    .item
        img(src="img/sl.jpg")
    .item
        img(src="img/sl.jpg")
    .item
        img(src="img/sl.jpg")

.main-block
    h2.main-title 
        span Главная
    .main-block_inner
        .main-block_item
            a(href="#")
                .main-block_portfolio
                p  Порфтолио
                span Фото и видео материалы<br> с мероприятий Дворца культуры   
        .main-block_item
            a(href="#")
                .main-block_watch
                p  Аренда залов
                span Занятость залов на ближайший месяц          

.activity
    h2.main-title 
        span Предстоящие мероприятия
    .news.cont
        .news-inner
            .news-item
                p.news-month 14 
                    span Сентября
                p.news-day суббота - 19:00
                .news-img
                    img(src="img/news.jpg")
                a(href="#").news-title Stand up <br>Дмитрия Романова
                p.news-article 14 сентября 2019 г. <br>в 19:00 ч. <br>в концертном зале <br>Дворца культуры<br> Stand up <br>Дмитрия Романова
                button.news-btn(type="button") Купить билет
                    span 145

            .news-item
                p.news-month 14 
                    span Сентября
                p.news-day суббота - 19:00
                .news-img
                    img(src="img/news.jpg")
                a(href="#").news-title Stand up <br>Дмитрия Романова
                p.news-article 14 сентября 2019 г. <br>в 19:00 ч. <br>в концертном зале <br>Дворца культуры<br> Stand up <br>Дмитрия Романова
                button.news-btn(type="button") Купить билет
                    span 145                  

            .news-item
                p.news-month 14 
                    span Сентября
                p.news-day суббота - 19:00
                .news-img
                    img(src="img/news.jpg")
                a(href="#").news-title Stand up <br>Дмитрия Романова
                p.news-article 14 сентября 2019 г. <br>в 19:00 ч. <br>в концертном зале <br>Дворца культуры<br> Stand up <br>Дмитрия Романова
                button.news-btn(type="button") Купить билет
                    span 145         

            .news-item
                p.news-month 14 
                    span Сентября
                p.news-day суббота - 19:00
                .news-img
                    img(src="img/news.jpg")
                a(href="#").news-title Stand up <br>Дмитрия Романова
                p.news-article 14 сентября 2019 г. <br>в 19:00 ч. <br>в концертном зале <br>Дворца культуры<br> Stand up <br>Дмитрия Романова
                button.news-btn(type="button") Купить билет
                    span 145

        .news-toggle_btn
            button.toggle-btn(type="button") Загрузить еще
                span.toggle-btn_tr
                span.toggle-btn_tl
                span.toggle-btn_br        
                span.toggle-btn_bl

.progressbars
    .progressbars-inner.benefits__inner
        .prgressbars-item.wow.slideInRight(data-wow-duration="1s")
            .my-progress-bar.bar-1
            .prgressbars-article
                |Проведено мероприятий            
        .prgressbars-item.wow.slideInRight(data-wow-duration="1.2s")
            .my-progress-bar.bar-2
            .prgressbars-article
                |Часов аренды  
        .prgressbars-item.wow.slideInRight(data-wow-duration="1.5s")
            .my-progress-bar.bar-3
            .prgressbars-article
                |Оставлено отзывов  
        .prgressbars-item.wow.slideInRight(data-wow-duration="1.7s")
            .my-progress-bar.bar-4
            .prgressbars-article
                |Довольных клиентов  


.main-news
    h2.main-title 
        span Новости
    .news.cont
        .news-inner
            .news-item
                p.news-month 14 
                    span Сентября
                p.news-day 2019
                .news-img
                    img(src="img/news2.jpg")
                a(href="#").news-title Празднования Дня железнодорожника 
                p.news-article 2 августа в Концертном зале Дворца культуры железнодорожников состоялся праздничный концерт для ветеранов СВЖД, посвященный празднованию Дня железнодорожника

            .news-item
                p.news-month 14 
                    span Сентября
                p.news-day 2019
                .news-img
                    img(src="img/news2.jpg")
                a(href="#").news-title Во Дворце культуры железнодорожников состоялась первая встреча предпринимателей
                p.news-article 13 июня 2019 г. во Дворце культуры железнодорожников состоялась первая встреча предпринимателей.                

            .news-item
                p.news-month 14 
                    span Сентября
                p.news-day 2019
                .news-img
                    img(src="img/news2.jpg")
                a(href="#").news-title Праздничный концерт посвященный Международному женскому дню 8 марта
                p.news-article 5 марта 2019 г. во Дворце культуры железнодорожников прошел концерт, посвященный Международному женскому дню 8 марта.         

            .news-item
                p.news-month 14 
                    span Сентября
                p.news-day 2019
                .news-img
                    img(src="img/news2.jpg")
                a(href="#").news-title Праздничный концерт посвященный Дню матери
                p.news-article 21 ноября, на сцене Дворца культуры железнодорожников прошел праздничный концерт, посвященный Дню матери.

        .news-toggle_btn
            button.toggle-btn(type="button") Все новости
                span.toggle-btn_tr
                span.toggle-btn_tl
                span.toggle-btn_br        
                span.toggle-btn_bl

.main-about
    h2.main-title                    
        span Дворец культуры <br>железнодорожников
    .main-about_article.cont
        span.main-about_title Такой разный Hip-Hop
        p Этот танец исполняют по музыку Hip-Hop, но она разнообразна по стилям и направлениям. Поэтому правильнее говорить танец в стиле Хип-Хоп. Он легко заимствует танцевальные движения из других жанров. Открытость, импровизация и мультитехничность – главные черты этого стиля. Для него характерна артистичность, драматургия взаимоотношений танцоров, чувство коллектива, соревновательность. У нас вы научитесь танцевать House, Baby dance, Jazz funk и прочие современные направления. Занятия проводятся в удобное для учеников время, вы сможете выбрать удобные вам уроки.

        span.main-about_title Вы хотите заниматься Hip-Hop?
        p Школа Хип-Хоп танцев для детей приглашает девочек и мальчиков школьного возраста. Записаться на занятия и узнать расписание можно дистанционно: по телефону 
            b +7 (912) 666-66-77, 
            |на сайте 
            a(href="#") http://dkj96.ru. 
            |Или приходите в ДКЖ, расположенный на улице Челюскинцев, дом 102. Мы гарантируем, что на занятиях вы почувствуете состояния драйва, найдете единомышленников и друзе

.write-us
    h2.main-title                    
        span Свяжитесь с нами
    button.button(type="button" data-toggle="modal" data-target="#ModalLong").write-us_btn Написать
