
                    
                            
                        


include ./footer-modals.pug

script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
script(src="libs/selectresize/selectresize.js")
script(src="libs/wow/wow.js")
script(src="libs/jquery-ui-select/jquery-ui.min.js")
script(src="libs/preloader/preloader.js")
script(src="libs/autosize/autosize.min.js")
script(src="libs/fotorama/fotorama.js")
script(src="libs/fancybox/jquery.fancybox.js")
script(src="libs/owl.carusel-2.3.4/owl.carousel.min.js")
script(src="libs/modal/js/classie.js")
script(src="libs/modal/js/modalEffects.js")
script(src="libs/modal/js/cssParser.js")






script(src="libs/bootstrap/js/bootstrap.bundle.min.js")
script(src="libs/bootstrap/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js")
script(src="js/common.js")
