link(rel="stylesheet" href="libs/wow/animate.css")
link(rel="stylesheet" href="libs/jquery-ui-select/jquery-ui.min.css")
link(rel="stylesheet" href="libs/owl.carusel-2.3.4/css/owl.carousel.min.css")    
link(rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet" href="libs/fancybox/jquery.fancybox.css")
link(rel="stylesheet" href="libs/modal/css/component.css")
link(rel="stylesheet" href="libs/fotorama/fotorama.css")
link(rel="stylesheet" href="css/style.css")
